@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
/*
	********************************
	General body styles
	*********************************
*/
body {
  font-family: 'Raleway', sans-serif;

}
.space-bar {
	margin-top: 20px;
}

.media-heading {
	font-weight: 500;
}
/*
	********************************
	Parallax
	*********************************
*/

#parallax-pregnancy {
	background-image: url("http://mdbootstrap.com/images/regular/nature/img%20(4).jpg");
    height: 400px;
   } 

.text-center h3 {
	font-family: bold;
}

#parallax-unintended {
	background-image: url("/img/image-4.JPG");
    height: 400px;
   } 
}


/*

	********************************
	Fixed beautiful navbar
	*********************************
*/

.navbar-brand {
  font-weight: bold;
}

.top-nav-collapse {
            background-color: #3F729B !important;
        }
        
        /*different color on mobile devices*/
        @media only screen and (max-width: 768px) {
            .navbar {
                background-color: #3F729B !important;
            }
        }

/*
	********************************
	Break Points
	*********************************
*/
@media only screen and(min-width: 524px){
	.carousel-item img {
		height: 300px;
	}
}	


/*Hidden Logo*/
.logo-hidden {
	font-family: 'Bungee Inline', cursive;
}

/*
  ********************************
  Scroll to top
  *********************************
*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(/img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #d35400;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/*
  ********************************
  Footer
  *********************************
*/

footer h5 {
	font-weight: 500;
}
